/*this is how one comments in css*/
h1 {
	color: red;
}

a {
	color: green;
	font-weight: 100;
}

.fun {
	color: gray;
}

#foo {
	color: yellow;
}

.spectacular {
	color: black;
}

.spectacular.fun {
	color: purple;
}
p a {
	font-weight: 600;
}
button {
	color: red;
	background-color: #580444
}
p {
	margin: 20px;
	border: 1px solid black;
	padding:20px;
	width: 400px;
}